{% extends 'blog/base.html' %}
{% block content %}

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ book.Author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">

      
            We have {{ book.Number_of_book }}
            "{{ book.Title }}" 
            books written by {{ book.Author }}
            <a href="{% url 'book_update' book.id %}">[update]</a> /
            <a href="{% url 'book_delete' book.id %}">[delete]</a>

        </div>
    </div>
</article>

{% endblock content %}