{% extends 'blog/base.html' %}
    {% block content %}
    {% for book in book %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ book.Author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <p>
                    <b><i>{{ book.Title }}</i></b>
                    <a href="{% url 'book_detail' book.id %}">[detail]</a>
                    </p>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}