{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row" style="background-color: rgb(67, 206, 211); height: 40px;">
        <b>Rule no.1:  All the people in library should maintain the silence.</b>
    </div>
    <div class="row" style="background-color: rgb(60, 134, 134); height: 40px;">
        <b>Rule no.2:  One student can issue only 5 books at a time.</b>
    </div>
    <div class="row" style="background-color: rgb(67, 206, 211); height: 40px;">
        <b>Rule no.3:  Issued books must be returned by one month from the date of issue.</b> 
    </div>
    <div class="row" style="background-color: rgb(60, 134, 134); height: 40px;">
        <b>Rule no.4:  If any student fails to return book in time then will be charged a fine of Rs.10 per day.</b>
    </div>
</div>

{% endblock content %}