{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3" style="background-color: cadetblue;">
            <h3>
                Rule no. 1
            </h3>

            It contains rule no. 1 of library.


        </div>
        <div class="col-sm-3" style="background-color: rgb(90,120,140)">
            <h3>
                Rule no.2
            </h3>

            It contains rule no. 2 of library.


        </div>
        <div class="col-sm-3" style="background-color: rgb(100,100, 100)">
            <h3>
                Rule no.3
            </h3>

            It contains rule no. 3 of library.


        </div>
        <div class="col-sm-3" style="background-color: rgb(80,60,50)">
            <h3>
                Rule no.4
            </h3>

            It contains rule no. 4 of library.


        </div>

    </div>
    <div class="row">

    </div>


</div>

{% endblock content %}